

/* Common */
main,
footer {
    text-align: center;
}

.section-portfolio .line,
.section-contact .line {
    background-color: #2c3e50;
}

.display-none {
    display: none;
}

/* Header */
header {
    background-color: #2c3e50; 
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.fa-bars {
    line-height: 70px;
    color: white;
}

.fa-bars:before {
    content: "\f0c9";
    border: 1px solid white;
    border-radius: 4px;
    padding: 6px;
}

fa-star {
    color: white;
}

header h4 {
    line-height: 70px;
}

@media screen and (min-width: 576px) {
    .fa-bars {
        display: none;
    }
    header .display-none {
        display: inline-block;
        line-height: 70px;
    }
}
/* Main */
.section-start,
.section-about {
    background-color: #1abc9c;
    color: white;
}

/* Section start */
.section-start {
    margin-top: 70px;
    padding-top: 40px;
}
.section-start img {
    width:50%;
}
.section-portfolio img{
    width: 100%;
}

.line {
    width: 50px;
    height: 3px;
    background-color: white;
}

.section-start li {
    font-size: 16px;
    font-weight: 500;

}

.section-start h2 {
    padding: 20px 0;
}

.section-start ul {
    margin-top: 30px;
}

/* Section portfolio */
.fa-star {
    font-size: 22px;
}

.img-portfolio {
    border-radius: 10px;
}


.section-portfolio .fa-plus
{
    font-size: 6rem;
    position: absolute;
    left: 42%;
    top: 41%;
    color: white;
    display: none;
}

.section-portfolio .col-12:hover > .fa-plus{
    display: inline-block;
}
/* Section about */
.section-about {
    margin-top: 20px;
}

/* Section contact */
.section-contact .btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.section-contact .line {
    width: 20px;
}
/* Footer */
.footer-top {
    background-color:  #3a546d;
    color: white;
}
.footer-bottom {
    background-color: #2c3e50;
    color: white;
}

footer p {
    font-weight: 600;
}

.div-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    line-height: 50px;
    border-radius: 50%;
}

.link-bootstrap {
    text-decoration: none;
    color: #1abc9c;
}
